# Humicroedit eda / preprocessing

### x

In [1]:
import pandas as pd

In [110]:
train_humi = pd.read_csv('Data/Humi/semeval-2020-task-7-dataset/subtask-1/train.csv', dtype={'grades': str})

In [111]:
train_humi.head(20)

,id,original,edit,grades,meanGrade
0,14530,France is ‘ hunting down its citizens who join...,twins,10000,0.2
1,13034,"Pentagon claims 2,000 % increase in Russian tr...",bowling,33110,1.6
2,8731,Iceland PM Calls Snap Vote as Pedophile Furor ...,party,22100,1.0
3,76,"In an apparent first , Iran and Israel <engage...",slap,20000,0.4
4,6164,Trump was told weeks ago that Flynn misled <Vi...,school,00000,0.0
5,8832,All 22 <promises/> Trump made in his speech to...,sounds,22200,1.2
6,12174,New DOJ alert system will flag <crimes/> again...,laughter,32100,1.2
7,3731,As Someone Who Grew Up Among Fundamentalist <C...,morons,21110,1.0
8,6554,"Canadians may pay more taxes than Americans , ...",loonies,10000,0.2
9,14191,Dutch minister resigns in drug baron <row/>,blow,00000,0.0
10,14268,Dozens dead in possible gas <attack/> in Syria...,bloating,22100,1.0
11,6524,How Trump Just Made <America/> Less Safe,Pilates,11110,0.8
12,7614,Trump 's 2nd Nominee for <Army/> Secretary Wit...,Class,22100,1.0
13,12786,The GOP just ca n’t <escape/> the ’80s,remember,33100,1.4
14,14458,"Mississippi law endorses anti-LGBT bias , atto...",confused,11100,0.6
15,14549,' Chibok <girls/> ' reunited with families,salamis,10000,0.2
16,9469,"Bill aiming to <protect/> Christians , other m...",marry,21100,0.8
17,2357,"Pulled Over in a Rental Car , With <Heroin/> i...",Junk,22211,1.6
18,9653,US <diplomat/> forced to leave New Zealand aft...,president,32110,1.4
19,6822,Erdogan Rejects Arab Demands ; Turkish <Troops...,Turkeys,22110,1.2

In [112]:
train_humi.count()

id           9652
original     9652
edit         9652
grades       9652
meanGrade    9652
dtype: int64

### Deleting bugged values (more than 5 annotated values)

In [116]:
train_humi = train_humi[train_humi['grades'].str.len() == 5]

In [117]:
train_humi

,id,original,edit,grades,meanGrade
0,14530,France is ‘ hunting down its citizens who join...,twins,10000,0.2
1,13034,"Pentagon claims 2,000 % increase in Russian tr...",bowling,33110,1.6
2,8731,Iceland PM Calls Snap Vote as Pedophile Furor ...,party,22100,1.0
3,76,"In an apparent first , Iran and Israel <engage...",slap,20000,0.4
4,6164,Trump was told weeks ago that Flynn misled <Vi...,school,00000,0.0
...,...,...,...,...,...
9647,10899,State officials blast ' unprecedented ' DHS <m...,idea,00000,0.0
9648,1781,Protesters Rally for <Refugees/> Detained at J...,stewardesses,20000,0.4
9649,5628,Cruise line Carnival Corp. joins the fight aga...,raisin,21000,0.6
9650,14483,Columbia police hunt woman seen with <gun/> ne...,cake,32200,1.4
9651,5255,Here 's What 's In The House-Approved Health <...,food,11000,0.4

In [118]:
train_humi.count()

id           9510
original     9510
edit         9510
grades       9510
meanGrade    9510
dtype: int64

In [119]:
unique_grades = train_humi['grades'].unique()
print(unique_grades)

['10000' '33110' '22100' '20000' '00000' '22200' '32100' '21110' '11110'
 '33100' '11100' '21100' '22211' '32110' '22110' '22111' '22210' '22000'
 '21000' '31111' '11111' '11000' '33200' '33111' '32000' '32222' '31000'
 '21111' '32200' '33211' '32220' '32211' '31100' '33310' '33320' '32210'
 '33222' '22220' '33220' '31110' '32111' '33210' '30000' '33221' '33321'
 '32221' '22221' '33322' '33311' '33000' '33332' '33331' '33333' '22222'
 '33300' '33330']

#### first annotator never annotates 0

### Replacing '</>' with changed ones

In [120]:
import re

def replace_text(row):
    original_text = row['original']
    edit_text = row['edit']
    replaced_text = re.sub(r'<.*?/>', edit_text, original_text)
    return replaced_text

train_humi['original'] = train_humi.apply(replace_text, axis=1)

In [121]:
train_humi.drop(columns=['edit'], inplace=True)

In [122]:
train_humi

,id,original,grades,meanGrade
0,14530,France is ‘ hunting down its citizens who join...,10000,0.2
1,13034,"Pentagon claims 2,000 % increase in Russian tr...",33110,1.6
2,8731,Iceland PM Calls Snap Vote as Pedophile Furor ...,22100,1.0
3,76,"In an apparent first , Iran and Israel slap ea...",20000,0.4
4,6164,Trump was told weeks ago that Flynn misled sch...,00000,0.0
...,...,...,...,...
9647,10899,State officials blast ' unprecedented ' DHS id...,00000,0.0
9648,1781,Protesters Rally for stewardesses Detained at ...,20000,0.4
9649,5628,Cruise line Carnival Corp. joins the fight aga...,21000,0.6
9650,14483,Columbia police hunt woman seen with cake near...,32200,1.4
9651,5255,Here 's What 's In The House-Approved Health f...,11000,0.4

### Adjusting grades values to multi annotaded/personalised form

In [123]:
annotators = ["annotator_1", "annotator_2", "annotator_3", "annotator_4", "annotator_5"]

for i, annotator in enumerate(annotators):
    train_humi[annotator] = [int(grade[i]) for grade in train_humi['grades']]

In [126]:
train_humi[:20]

,id,original,grades,meanGrade,annotator_1,annotator_2,annotator_3,annotator_4,annotator_5
0,14530,France is ‘ hunting down its citizens who join...,10000,0.2,1,0,0,0,0
1,13034,"Pentagon claims 2,000 % increase in Russian tr...",33110,1.6,3,3,1,1,0
2,8731,Iceland PM Calls Snap Vote as Pedophile Furor ...,22100,1.0,2,2,1,0,0
3,76,"In an apparent first , Iran and Israel slap ea...",20000,0.4,2,0,0,0,0
4,6164,Trump was told weeks ago that Flynn misled sch...,00000,0.0,0,0,0,0,0
5,8832,All 22 sounds Trump made in his speech to Cong...,22200,1.2,2,2,2,0,0
6,12174,New DOJ alert system will flag laughter agains...,32100,1.2,3,2,1,0,0
7,3731,As Someone Who Grew Up Among Fundamentalist mo...,21110,1.0,2,1,1,1,0
8,6554,"Canadians may pay more taxes than Americans , ...",10000,0.2,1,0,0,0,0
9,14191,Dutch minister resigns in drug baron blow,00000,0.0,0,0,0,0,0
10,14268,Dozens dead in possible gas bloating in Syria ...,22100,1.0,2,2,1,0,0
11,6524,How Trump Just Made Pilates Less Safe,11110,0.8,1,1,1,1,0
12,7614,Trump 's 2nd Nominee for Class Secretary Withd...,22100,1.0,2,2,1,0,0
13,12786,The GOP just ca n’t remember the ’80s,33100,1.4,3,3,1,0,0
14,14458,"Mississippi law endorses anti-LGBT bias , atto...",11100,0.6,1,1,1,0,0
15,14549,' Chibok salamis ' reunited with families,10000,0.2,1,0,0,0,0
16,9469,"Bill aiming to marry Christians , other minori...",21100,0.8,2,1,1,0,0
17,2357,"Pulled Over in a Rental Car , With Junk in the...",22211,1.6,2,2,2,1,1
18,9653,US president forced to leave New Zealand after...,32110,1.4,3,2,1,1,0
19,6822,Erdogan Rejects Arab Demands ; Turkish Turkeys...,22110,1.2,2,2,1,1,0

In [127]:
train_humi.drop(columns=['grades'], inplace=True)

In [128]:
train_humi

,id,original,meanGrade,annotator_1,annotator_2,annotator_3,annotator_4,annotator_5
0,14530,France is ‘ hunting down its citizens who join...,0.2,1,0,0,0,0
1,13034,"Pentagon claims 2,000 % increase in Russian tr...",1.6,3,3,1,1,0
2,8731,Iceland PM Calls Snap Vote as Pedophile Furor ...,1.0,2,2,1,0,0
3,76,"In an apparent first , Iran and Israel slap ea...",0.4,2,0,0,0,0
4,6164,Trump was told weeks ago that Flynn misled sch...,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
9647,10899,State officials blast ' unprecedented ' DHS id...,0.0,0,0,0,0,0
9648,1781,Protesters Rally for stewardesses Detained at ...,0.4,2,0,0,0,0
9649,5628,Cruise line Carnival Corp. joins the fight aga...,0.6,2,1,0,0,0
9650,14483,Columbia police hunt woman seen with cake near...,1.4,3,2,2,0,0
9651,5255,Here 's What 's In The House-Approved Health f...,0.4,1,1,0,0,0

### Saving preprocessed train split into csv and preprocessing other 2 splits

In [129]:
train_humi.count()

id             9510
original       9510
meanGrade      9510
annotator_1    9510
annotator_2    9510
annotator_3    9510
annotator_4    9510
annotator_5    9510
dtype: int64

In [131]:
train_humi.to_csv('./PreprocessedData/final_train.csv', index=False)

In [133]:
train_humi[train_humi['annotator_1']==0]

,id,original,meanGrade,annotator_1,annotator_2,annotator_3,annotator_4,annotator_5
4,6164,Trump was told weeks ago that Flynn misled sch...,0.0,0,0,0,0,0
9,14191,Dutch minister resigns in drug baron blow,0.0,0,0,0,0,0
46,11660,Jared Kushner is the Real Enemy,0.0,0,0,0,0,0
51,7008,Las Vegas casino tells students Donald Trump i...,0.0,0,0,0,0,0
61,827,New Orleans takes down 1st of 4 Confederate bi...,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
9575,4695,Chinese scientists clone a girl for first time .,0.0,0,0,0,0,0
9594,12670,Hundreds of immigrants will get to resubmit DA...,0.0,0,0,0,0,0
9595,953,Bleeding From the Fight Against Lead,0.0,0,0,0,0,0
9631,10136,Iran successfully launches satellite-carrying ...,0.0,0,0,0,0,0
9647,10899,State officials blast ' unprecedented ' DHS id...,0.0,0,0,0,0,0

### test split

In [134]:
## Test split
test_humi = pd.read_csv('Data/Humi/semeval-2020-task-7-dataset/subtask-1/test.csv', dtype={'grades': str})
test_humi.count()

id           3024
original     3024
edit         3024
grades       3024
meanGrade    3024
dtype: int64

In [136]:
test_humi = test_humi[test_humi['grades'].str.len() == 5]
test_humi.count()

id           2986
original     2986
edit         2986
grades       2986
meanGrade    2986
dtype: int64

In [137]:
test_humi['original'] = test_humi.apply(replace_text, axis=1)

In [138]:
test_humi.drop(columns=['edit'], inplace=True)
test_humi

,id,original,grades,meanGrade
0,36,The Latest : Election tally shows Cars turning...,31110,1.2
1,2157,House Intel onions Have Cleared Trump . So Are...,11000,0.4
2,9385,Christmas Is Canceled : Nazareth ’s Muslim gru...,11111,1.0
3,14434,White House says Trump 's legal bozos supports...,32210,1.6
4,9462,Election movers move Ryan seat toward Dems aft...,11000,0.4
...,...,...,...,...
3019,3921,Sen. Bernie Sanders says he ’s “ sickened ” by...,33210,1.8
3020,12371,Trump Repeals Regulation Protecting Owners Fro...,30000,0.6
3021,6845,Spicer : We do n't regret repeating claim that...,11000,0.4
3022,2902,Gunshots Fired Outside Houses of dogs in London,00000,0.0
3023,4440,Flynn has promised Special Counsel ' full mont...,21100,0.8

In [139]:
annotators = ["annotator_1", "annotator_2", "annotator_3", "annotator_4", "annotator_5"]

for i, annotator in enumerate(annotators):
    test_humi[annotator] = [int(grade[i]) for grade in test_humi['grades']]

In [142]:
test_humi[:20]

,id,original,grades,meanGrade,annotator_1,annotator_2,annotator_3,annotator_4,annotator_5
0,36,The Latest : Election tally shows Cars turning...,31110,1.2,3,1,1,1,0
1,2157,House Intel onions Have Cleared Trump . So Are...,11000,0.4,1,1,0,0,0
2,9385,Christmas Is Canceled : Nazareth ’s Muslim gru...,11111,1.0,1,1,1,1,1
3,14434,White House says Trump 's legal bozos supports...,32210,1.6,3,2,2,1,0
4,9462,Election movers move Ryan seat toward Dems aft...,11000,0.4,1,1,0,0,0
5,5773,"In long-feared twist , online leak rattles Fre...",11100,0.6,1,1,1,0,0
6,11975,Flynn has promised Special Counsel ' full coop...,32210,1.6,3,2,2,1,0
7,10047,Jones does n't think Trump should resign over ...,21111,1.2,2,1,1,1,1
8,9595,"As a Black veteran , I always stand for the qu...",21110,1.0,2,1,1,1,0
9,12085,A plan to tax US pets has better odds of becom...,11000,0.4,1,1,0,0,0
10,10423,A new study says global belching accounts for ...,22220,1.6,2,2,2,2,0
11,5353,Employer insurance plans threatened by GOP hea...,30000,0.6,3,0,0,0,0
12,1967,Praljak : Bosnian Croat war criminal dies afte...,10000,0.2,1,0,0,0,0
13,7192,Tillerson Set To Chair UN table on NK as U.S. ...,10000,0.2,1,0,0,0,0
14,13483,Democrats Hate Quotes from Trump 's State of ...,33210,1.8,3,3,2,1,0
15,8158,Putin says Kim Jong Un won this obesity .,10000,0.2,1,0,0,0,0
16,1482,"5 dead , 9 injured in tweeting at Fort Lauderd...",11000,0.4,1,1,0,0,0
17,5833,Hacker who harassed leaders from CIA and FBI i...,32110,1.4,3,2,1,1,0
18,5276,Gowdy : Former UN Ambassador Samantha Power cl...,00000,0.0,0,0,0,0,0
19,12541,California governor scans wildfire damage and ...,33221,2.2,3,3,2,2,1

In [143]:
test_humi.drop(columns=['grades'], inplace=True)

In [144]:
test_humi[:25]

,id,original,meanGrade,annotator_1,annotator_2,annotator_3,annotator_4,annotator_5
0,36,The Latest : Election tally shows Cars turning...,1.2,3,1,1,1,0
1,2157,House Intel onions Have Cleared Trump . So Are...,0.4,1,1,0,0,0
2,9385,Christmas Is Canceled : Nazareth ’s Muslim gru...,1.0,1,1,1,1,1
3,14434,White House says Trump 's legal bozos supports...,1.6,3,2,2,1,0
4,9462,Election movers move Ryan seat toward Dems aft...,0.4,1,1,0,0,0
5,5773,"In long-feared twist , online leak rattles Fre...",0.6,1,1,1,0,0
6,11975,Flynn has promised Special Counsel ' full coop...,1.6,3,2,2,1,0
7,10047,Jones does n't think Trump should resign over ...,1.2,2,1,1,1,1
8,9595,"As a Black veteran , I always stand for the qu...",1.0,2,1,1,1,0
9,12085,A plan to tax US pets has better odds of becom...,0.4,1,1,0,0,0
10,10423,A new study says global belching accounts for ...,1.6,2,2,2,2,0
11,5353,Employer insurance plans threatened by GOP hea...,0.6,3,0,0,0,0
12,1967,Praljak : Bosnian Croat war criminal dies afte...,0.2,1,0,0,0,0
13,7192,Tillerson Set To Chair UN table on NK as U.S. ...,0.2,1,0,0,0,0
14,13483,Democrats Hate Quotes from Trump 's State of ...,1.8,3,3,2,1,0
15,8158,Putin says Kim Jong Un won this obesity .,0.2,1,0,0,0,0
16,1482,"5 dead , 9 injured in tweeting at Fort Lauderd...",0.4,1,1,0,0,0
17,5833,Hacker who harassed leaders from CIA and FBI i...,1.4,3,2,1,1,0
18,5276,Gowdy : Former UN Ambassador Samantha Power cl...,0.0,0,0,0,0,0
19,12541,California governor scans wildfire damage and ...,2.2,3,3,2,2,1
20,14694,UK police stop passing Manchester sanitation i...,1.0,2,2,1,0,0
21,11505,Baldwin returns as Trump in ' SNL ' parody of ...,0.8,1,1,1,1,0
22,3948,"5 dead , 9 injured in delay at Fort Lauderdale...",1.2,2,2,1,1,0
23,12175,ANALYSIS : Trump 's lived by the ratings but t...,0.6,2,1,0,0,0
24,108,Maddow warns of ' perception ' Trump ordered s...,2.2,3,3,2,2,1

In [145]:
test_humi.count()

id             2986
original       2986
meanGrade      2986
annotator_1    2986
annotator_2    2986
annotator_3    2986
annotator_4    2986
annotator_5    2986
dtype: int64

In [146]:
test_humi.to_csv('./PreprocessedData/final_test.csv', index=False)

### Dev/val split

In [154]:
## Test split

dev_humi = pd.read_csv('Data/Humi/semeval-2020-task-7-dataset/subtask-1/dev.csv', dtype={'grades': str})
dev_humi.count()

id           2419
original     2419
edit         2419
grades       2419
meanGrade    2419
dtype: int64

In [155]:
dev_humi = dev_humi[dev_humi['grades'].str.len() == 5]
dev_humi.count()

id           2390
original     2390
edit         2390
grades       2390
meanGrade    2390
dtype: int64

In [156]:
dev_humi['original'] = dev_humi.apply(replace_text, axis=1)

In [157]:
dev_humi.drop(columns=['edit'], inplace=True)

In [160]:
dev_humi[20:35]

       id                                           original grades  meanGrade
20   6814  Spicer : Hitler ' Did n't Even Sink to Using C...  21100        0.8
21   4611  20 percent of Republicans are completely okay ...  31100        1.0
22   4334  Trump : North Korea ' eating in a very , very ...  22110        1.2
23   9101  Foreign workers dance out of Singapore , with ...  32200        1.4
24   6585                   Duke still developping new nukes  10000        0.2
25  12156  White House blasts request from China as ' Orw...  00000        0.0
26   1183  Kushner to visit therapist following latest Tr...  33332        2.8
27   2428               Turnip 's 2018 physical exam results  11110        0.8
28  11600  Hillary Clinton ‘ Convinced ’ Trump Associates...  11000        0.4
29   3162  Trump hugs Justice Department 's top official ...  11100        0.6
30  13798         GOP senator : fair deal unlikely this year  11000        0.4
31   1783  This Holocaust Survivor Noticed A necklace In ...  10000        0.2
32  13683  Joe Arpaio wants to get involved in beatboxing...  33321        2.4
33  14347  What 's at stake if U.S. scraps Iran deal ? An...  32000        1.0
34  14472  Trump campaign spent $ 1M in legal fees in las...  00000        0.0

In [161]:
annotators = ["annotator_1", "annotator_2", "annotator_3", "annotator_4", "annotator_5"]

for i, annotator in enumerate(annotators):
    dev_humi[annotator] = [int(grade[i]) for grade in dev_humi['grades']]

In [162]:
dev_humi[20:35]

,id,original,grades,meanGrade,annotator_1,annotator_2,annotator_3,annotator_4,annotator_5
20,6814,Spicer : Hitler ' Did n't Even Sink to Using C...,21100,0.8,2,1,1,0,0
21,4611,20 percent of Republicans are completely okay ...,31100,1.0,3,1,1,0,0
22,4334,"Trump : North Korea ' eating in a very , very ...",22110,1.2,2,2,1,1,0
23,9101,"Foreign workers dance out of Singapore , with ...",32200,1.4,3,2,2,0,0
24,6585,Duke still developping new nukes,10000,0.2,1,0,0,0,0
25,12156,White House blasts request from China as ' Orw...,00000,0.0,0,0,0,0,0
26,1183,Kushner to visit therapist following latest Tr...,33332,2.8,3,3,3,3,2
27,2428,Turnip 's 2018 physical exam results,11110,0.8,1,1,1,1,0
28,11600,Hillary Clinton ‘ Convinced ’ Trump Associates...,11000,0.4,1,1,0,0,0
29,3162,Trump hugs Justice Department 's top official ...,11100,0.6,1,1,1,0,0
30,13798,GOP senator : fair deal unlikely this year,11000,0.4,1,1,0,0,0
31,1783,This Holocaust Survivor Noticed A necklace In ...,10000,0.2,1,0,0,0,0
32,13683,Joe Arpaio wants to get involved in beatboxing...,33321,2.4,3,3,3,2,1
33,14347,What 's at stake if U.S. scraps Iran deal ? An...,32000,1.0,3,2,0,0,0
34,14472,Trump campaign spent $ 1M in legal fees in las...,00000,0.0,0,0,0,0,0

In [163]:
dev_humi.drop(columns=['grades'], inplace=True)
dev_humi[0:3]

,id,original,meanGrade,annotator_1,annotator_2,annotator_3,annotator_4,annotator_5
0,1723,Thousands of gay and bisexual swans convicted ...,1.0,2,2,1,0,0
1,12736,Special chef appointed to Trump Russia,0.8,2,1,1,0,0
2,12274,Spanish police detain man and search Ripoll ad...,0.6,2,1,0,0,0

In [164]:
dev_humi.count()

id             2390
original       2390
meanGrade      2390
annotator_1    2390
annotator_2    2390
annotator_3    2390
annotator_4    2390
annotator_5    2390
dtype: int64

In [165]:
dev_humi.to_csv('./PreprocessedData/final_dev.csv', index=False)

### Funlines (additional training)

In [212]:
fun_humi = pd.read_csv('Data/Humi/semeval-2020-task-7-dataset/subtask-1/train_funlines.csv', dtype={'grades': str})
fun_humi.count()

id           8248
original     8248
edit         8245
grades       8248
meanGrade    8248
dtype: int64

In [213]:
fun_humi[20:35]

,id,original,edit,grades,meanGrade
20,100020,Department of <Justice/> declines to prosecute...,Faggots,22100,1.0
21,100021,Department of Justice declines to <prosecute/>...,whip,22111,1.4
22,100022,Marriott International announced that it will ...,tubs,21100,0.8
23,100023,Fallout from Russia 's mysterious <missile/> d...,political,11111,1.0
24,100024,"With A Straight Face , Trump <Campaign/> Aide ...",insanity,33110,1.6
25,100025,"With A Straight Face , Trump Campaign Aide <In...",lies,32110,1.4
26,100026,"Canada pledges water bombers , $ 15M to fight ...",GoT,22210,1.4
27,100027,Bernie Sanders pledges to protect news organiz...,spying,0,0.0
28,100028,Bernie Sanders pledges to protect <news/> orga...,carpentry,21100,0.8
29,100029,Trump deserves <impeachment/> quite apart from...,blown,0,0.0
30,100030,Trump deserves <impeachment/> quite apart from...,chocolate,21100,0.8
31,100031,"When Ilhan Omar Is Accused of Anti-Semitism , ...",laughter,22100,1.0
32,100032,"Ariana Grande , Billie Eilish and Dua Lipa bac...",butterfly,22110,1.2
33,100033,"Ariana Grande , Billie Eilish and Dua Lipa bac...",woes,21000,0.6
34,100034,"Owner of Timberland , Vans stops buying Brazil...",waxing,32221,2.0

only here there is a need deleting 0 values

In [214]:
fun_humi = fun_humi[fun_humi['grades'] != '0']
fun_humi.dropna(subset=['edit'], inplace=True)
fun_humi.count()

id           8095
original     8095
edit         8095
grades       8095
meanGrade    8095
dtype: int64

In [215]:
fun_humi = fun_humi[fun_humi['grades'].str.len() == 5]
fun_humi.count()

id           7720
original     7720
edit         7720
grades       7720
meanGrade    7720
dtype: int64

In [216]:
fun_humi

,id,original,edit,grades,meanGrade
0,100000,Donald Trump <skips/> G7 talks on climate cris...,misunderstands,22110,1.2
1,100001,Donald Trump <skips/> G7 talks on climate cris...,praises,33100,1.4
2,100002,The queen agrees to <suspend/> parliament,dismantle,31110,1.2
3,100003,<Apple/> reverses stance on iPhone repairs an...,Microsoft,20000,0.4
4,100004,Apple reverses stance on iPhone repairs and wi...,death,22211,1.6
...,...,...,...,...,...
8243,108243,Banning Facial <Recognition/> Is n’t Enough - ...,Cleansers,22222,2.0
8244,108244,Trump is reportedly threatening <Republicans/>...,children,21100,0.8
8245,108245,Peruvian indigenous group wins suit to block o...,Women,22110,1.2
8246,108246,Joe Rogan says he 's probably voting for <Bern...,Illuminati,22000,0.8
8247,108247,While Microsoft Was Making Its Climate Pledge ...,Spill,21111,1.2

In [217]:
def replace_text(row):
    original_text = str(row['original'])  # Konwersja na string
    edit_text = str(row['edit'])
    replaced_text = re.sub(r'<.*?/>', edit_text, original_text)
    return replaced_text

fun_humi['original'] = fun_humi.apply(replace_text, axis=1)

In [218]:
fun_humi[50:55]

,id,original,edit,grades,meanGrade
55,100055,Broken Dems say Trump admin blocking visits t...,Broken,10000,0.2
56,100056,House Dems say Trump admin blocking visits to ...,funhouse,22220,1.6
57,100057,' Walking Dead ' zombie and former firefighter...,zombie,11110,0.8
58,100058,' Walking Dead ' actor and former firefighter ...,alligator,33220,2.0
59,100059,' Walking Dead ' actor and former firefighter ...,zombies,32110,1.4

In [219]:
fun_humi.drop(columns=['edit'], inplace=True)

In [220]:
fun_humi

,id,original,grades,meanGrade
0,100000,Donald Trump misunderstands G7 talks on climat...,22110,1.2
1,100001,Donald Trump praises G7 talks on climate crisi...,33100,1.4
2,100002,The queen agrees to dismantle parliament,31110,1.2
3,100003,Microsoft reverses stance on iPhone repairs a...,20000,0.4
4,100004,Apple reverses stance on iPhone repairs and wi...,22211,1.6
...,...,...,...,...
8243,108243,Banning Facial Cleansers Is n’t Enough - Bruce...,22222,2.0
8244,108244,Trump is reportedly threatening children to ke...,21100,0.8
8245,108245,Peruvian indigenous group wins suit to block o...,22110,1.2
8246,108246,Joe Rogan says he 's probably voting for Illum...,22000,0.8
8247,108247,While Microsoft Was Making Its Climate Pledge ...,21111,1.2

In [221]:
annotators = ["annotator_1", "annotator_2", "annotator_3", "annotator_4", "annotator_5"]

for i, annotator in enumerate(annotators):
    fun_humi[annotator] = [int(grade[i]) for grade in fun_humi['grades']]

In [222]:
fun_humi

,id,original,grades,meanGrade,annotator_1,annotator_2,annotator_3,annotator_4,annotator_5
0,100000,Donald Trump misunderstands G7 talks on climat...,22110,1.2,2,2,1,1,0
1,100001,Donald Trump praises G7 talks on climate crisi...,33100,1.4,3,3,1,0,0
2,100002,The queen agrees to dismantle parliament,31110,1.2,3,1,1,1,0
3,100003,Microsoft reverses stance on iPhone repairs a...,20000,0.4,2,0,0,0,0
4,100004,Apple reverses stance on iPhone repairs and wi...,22211,1.6,2,2,2,1,1
...,...,...,...,...,...,...,...,...,...
8243,108243,Banning Facial Cleansers Is n’t Enough - Bruce...,22222,2.0,2,2,2,2,2
8244,108244,Trump is reportedly threatening children to ke...,21100,0.8,2,1,1,0,0
8245,108245,Peruvian indigenous group wins suit to block o...,22110,1.2,2,2,1,1,0
8246,108246,Joe Rogan says he 's probably voting for Illum...,22000,0.8,2,2,0,0,0
8247,108247,While Microsoft Was Making Its Climate Pledge ...,21111,1.2,2,1,1,1,1

In [223]:
fun_humi.drop(columns=['grades'], inplace=True)
fun_humi.count()

id             7720
original       7720
meanGrade      7720
annotator_1    7720
annotator_2    7720
annotator_3    7720
annotator_4    7720
annotator_5    7720
dtype: int64

In [224]:
fun_humi.to_csv('./PreprocessedData/train_funlines_final.csv', index=False)